@tailwind base;
@tailwind components;
@tailwind utilities;

.emoji-picker {
  font-family: Arial, Helvetica, sans-serif;
}

.indicator {
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  width: 96px;
}

.emoji-list {
  @apply pt-15 overflow-y-scroll overflow-x-hidden h-full relative flex flex-col;
}

.emoji-grid {
  @apply grid grid-cols-flow gap-y-2 md:gap-y-2.5 pr-5 md:pr-4;
}

.cancel-button::-webkit-search-cancel-button {
  filter: grayscale(80%);
  opacity: 0.5;
}
.dark .cancel-button::-webkit-search-cancel-button {
  filter: brightness(8);
  opacity: 0.5;
}

/* Animations */
.slide-enter {
  transform: translateY(-100%);
  transition: 0.5s cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-active {
  transform: translateY(0%);
}

.slide-exit {
  transform: translateY(0%);
  transition: 0.5s ease-in-out;
}
.slide-exit-active {
  transform: translateY(-100%);
}

.spring-enter {
  transform: scale(0);
  transform-origin: left bottom;
  opacity: 0;
  transition: 0.15s;
}

.spring-enter-active {
  transform: scale(1);
  transform-origin: left bottom;
  opacity: 1;
}

.spring-exit {
  transform: scale(1);
  transform-origin: left bottom;
  opacity: 1;
  transition: 0.1s;
}
.spring-exit-active {
  opacity: 0;
  transform: scale(0);
  transform-origin: left bottom;
}

/* Scrollbar */
::-webkit-scrollbar {
  @apply w-1.5 h-1.5;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-200 bg-opacity-40;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.arrow {
  top: 99%;
  position: absolute;
  border-top: solid 10px theme("colors.picker.light");
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}

.dark .arrow {
  border-top: solid 10px theme("colors.picker.dark");
}
